<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Poor+Story&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <h2>To Do</h2>
        <p>{{ todo.title }}</p>
    </div>
    <div>
        <h2>content</h2>
        <p>{{ todo.content }}</p>
    </div>
    <a href="{% url 'home' %}">홈으로</a>
    <a href="{% url 'edit' todo.pk %}">수정</a>
    <a href="{% url 'delete' todo.pk %}">삭제</a>
</body>
</html>