body{
    color : darkblue;
    background-color: rgba(130, 209, 254, 0.997);
    font-family: "Jua";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 500px;
    min-width: 300px;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.underbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top:100px;

}

.content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    justify-content: center;
    flex-direction: column;
}