body{
    color : darkblue;
    background-color: rgba(130, 209, 254, 0.997);
    font-family: "Jua";
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 40vh;
    text-align: center;
}

.link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    min-height: 20vh;
    text-align: center;
}


img{
    position: relative;
    top: 270px;
    right: 130px;
}

.back{
    position: relative;
    top:100px;
}

h2{
    position: relative;
    bottom: 50px;
}