body{
    color : darkblue;
    background-color: rgba(130, 209, 254, 0.997);
    font-family: "Jua";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
