<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %} {% load socialaccount %} {% providers_media_js %}
    <link rel="stylesheet" type="text/css" href="{% static 'list.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Poor+Story&display=swap" rel="stylesheet">
</head>
<body>
    {% if user.is_authenticated %} 
    <span class="navbar__menu__item">안녕 {{user.username}}</span>
    <li class = "navbar__menu__item">
        <a href="{% url 'logout'%}">로그아웃</a>
    </li>
    {% else %}
    <li class = "navbar__menu__item">
        <a href="{% url 'login'%}">로그인</a>
    </li>
    <li class = "navbar__menu__item">
        <a href="{% url 'signup'%}">회원가입</a>
    </li>
    <li class = "navbar__menu__item">
        <a href="{% provider_login_url 'kakao'%}">카카오 로그인</a>
    </li>

    {% endif %}
    <h2>Dear Diary</h2>
    <ul>
        {% for post in posts %}
        <a href="{% url 'detail' post.id %}" class="title">{{post.title}}</a>
        <a href="{% url 'edit' post.pk %}">수정</a>
        <a href="{% url 'delete' post.pk %}">삭제</a>
        {% endfor %}
    </ul>
    <a href="{% url 'new' %}">Write</a>
</body>
</html>